{% extends "template.njk" %}

{% block header %}
    <title>test</title>
    <style>
        body {
            background: red;
        }
    </style>
{% endblock %}

{% block content %}
<p>this is test files</p>
{% endblock %}